<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" id="search" placeholder="Search by name" [(ngModel)]="namespace">
  </div>
  <table class="table">
    <!-- <thead style="background-color: black;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let prod of  states.data | filter:namespace">
        <th scope="row">1</th>
        <td>{{prod.name}}</td>
        <!-- <td><a (click)="data(prod.name)">{{prod.name}}</a></td> -->
      </tr>
    </tbody>
  </table>
</div>